.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.block{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.blocks{
  display: flex;
}
@media screen and (max-width:1150px) {
  .blockf{
    flex-direction: row;
    gap: 10px;
  }
}
@media screen and (max-width:770px) {
  .blockf{
    flex-direction: column;
    gap: 10px;
  }
}